<div class="page-header">
	<h1>[[ placeholder.title ]]</h1>
</div>
<p class="lead">[[ placeholder.description ]]</p>
<div uib-alert class="alert-success" close="closeAlert($index)">[[ placeholder.bsAlert ]]
</div>
<div style="display:inline-block; min-height:290px;">
</div>