<div class="form-group">
    <label class="col-sm-2 control-label">Applicatiion *</label>
    <div class="col-sm-10">
        <select ng-model="ctrl.compagne.application" name="application" ng-change="ctrl.change(application.name)">
            <option ng-repeat="application in ctrl.applications" value="{{application.id}}">{{application.name}}</option>
        </select>
        <span class="text-red" ng-show="compagneForm.application.$error.required && !compagneForm.version.$pristine">
            This field is required
        </span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Version *</label>
    <div class="col-sm-10">
        <input type="text" name="version" class="form-control" data-ng-model="ctrl.compagne.version" required>
        <span class="text-red" ng-show="compagneForm.version.$error.required && !compagneForm.version.$pristine">
            This field is required
        </span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Description *</label>
    <div class="col-sm-10">
        <textarea name="description" data-ng-model="ctrl.compagne.description" simplemde></textarea>
        <span class="text-red"
            ng-show="compagneForm.description.$error.required && !compagneForm.description.$pristine">
            This field is required</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Start Date *</label>
    <div class="col-sm-10">
        <input type="date" name="startDate" class="form-control" data-ng-model="ctrl.compagne.startDate" required>
        <span class="text-red" ng-show="compagneForm.startDate.$error.required && !compagneForm.startDate.$pristine">
            This field is required</span>

    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">End Date *</label>
    <div class="col-sm-10">
        <input type="date" name="endDate" class="form-control" data-ng-model="ctrl.compagne.endDate" required>
        <span class="text-red" ng-show="compagneForm.endDate.$error.required && !compagneForm.endDate.$pristine">
            This field is required</span>

    </div>
</div>