<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>Compagnes Overview</h4>
        <hr>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row" ng-repeat="application in ctrl.applications">
                <div class="col-lg-12" style="background-color:lavender;">
                    <h4>[[application.name]]</h4>
                </div>
                <div ng-repeat="compagne in application.compagnes"  class=" col-md-offset-1 col-lg-11">
                    <div>
                        <h5 style="background-color:lavenderblush;">[[compagne.version]]</h5>
                    </div>
                    <div class=" col-md-offset-1" style="background-color:white">
                        <div ng-repeat="step in compagne.steps">
                            <div class="col-lg-2">
                                <span ng-class="ctrl.getClass(compagne.steps, step)">[[step.label]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Accordion wrapper-->
<div class="accordion md-accordion" id="[[application.id]]" role="tablist" aria-multiselectable="true" ng-repeat="application in ctrl.applications">

        <!-- Accordion card -->
        <div class="card">
      
          <!-- Card header -->
          <div class="card-header" role="tab" id="[[application.name]]">
            <a class="collapsed" data-toggle="collapse" data-parent="#[[application.id]]" href="#[[application.name]]"aria-expanded="false" aria-controls="[[application.name]]">
              <h5 class="mb-0">
                Collapsible Group Item #1 <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
      
          <!-- Card body -->
          <div id="[[application.name]]" class="collapse" role="tabpanel" aria-labelledby="[[application.name]]" data-parent="[[application.id]]">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            </div>
          </div>
      
        </div>
        </div>
        <!-- Accordion card -->
</div>
