<div class="row">
    <div class="col-md-12">

        <tabset justified="true" class="box-tab justified ">
            <tab heading="Detail Application">
                <div class="row no-margin">
                    <div class="col-lg-12 ">
                        <p><span class="bold text-bluegrey">Name : </span> {{ctrl.app.name}}</p>
                        <p><span class="bold text-bluegrey">Type : </span> {{ctrl.app.type.name}}</p>
                        <p><span class="bold text-bluegrey">Email : </span> {{ctrl.app.email}}</p>
                        <p><span class="bold text-bluegrey">Owner : </span> {{ctrl.app.owner.email}}</p>
                        <p><span class="bold text-bluegrey">State : </span>
                            <span ng-class="ctrl.app.is_enabled ? 'label label-success' : 'label label-default'">{{ctrl.app.is_enabled ? 'Enabled' :'Disabled'}}</span>
                        </p>
                        <p>
                            <span class="bold text-bluegrey">Default : </span> <span
                                ng-class="ctrl.app.is_default ? 'label label-success' : 'label label-default'">
                                    <i ng-if="ctrl.app.is_default" class="fa fa-check"></i>
                                    <i ng-if="!ctrl.app.is_default" class="fa fa-remove"></i>
                                </span>

                        </p>
                    </div>
                </div>

            </tab>
            <tab heading="Invited Users" ng-if="user.id == ctrl.app.owner.id">
                <section class="widget bg-white post-comments">
                    <div ng-repeat="invitation in ctrl.app.invitations">

                        <div class="media">
                            <a class="pull-left" href="javascript:;">
                                <img class="media-object avatar avatar-sm"
                                     data-ng-src="{{ctrl.DOWNLOAD_URL+invitation.user.avatar}}"
                                     alt="">
                            </a>
                            <div class="comment">
                                <div class="comment-author h6 no-margin">
                                    <div class="comment-meta small">
                                        <button class="btn btn-danger"
                                                ng-click="ctrl.deleteInvitation(invitation.id)">
                                            <i ng-if="!ctrl.ui.isDeleting" class="fa fa-trash"></i>
                                            <spinner is-loading="ctrl.ui.isDeleting"></spinner>

                                        </button>
                                    </div>
                                    <a href="javascript:;"><strong>{{invitation.user ? invitation.user.email :invitation.email}}</strong></a>
                                    <p ng-if="invitation.user" class="label label-info">
                                        {{invitation.user.company}}
                                    </p>
                                    <p ng-if="invitation.is_pending">
                                                <span class="label label-default">

                                                Pending <i class="fa fa-clock-o"></i>
                                                </span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="media mt30">
                        <form name="inviteUserForm" class="form-horizontal bordered-group"
                              ng-submit="ctrl.handleInviteUser()" role="form">
                            <div class="input-group mb15">
                                <input type="email" class="form-control br0" placeholder="user email"
                                       ng-model="ctrl.invitedUser.email" required>
                                <span class="input-group-btn">
                                     <button class="btn btn-primary" type="submit"
                                            ng-disabled="inviteUserForm.$invalid">
                                            <spinner is-loading="ctrl.ui.isSaving"></spinner>
                                            <i ng-if="!ctrl.ui.isSaving" class="fa fa-user-plus">
                                            </i> Inviter user
                                     </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </section>
            </tab>
        </tabset>
    </div>
</div>



