<div class="row" ng-init="ctrl.onLoad()">
    <div class="col-md-12 col-sm-12">

        <tabset justified="true" class="box-tab justified ">
            <tab heading="Detail Application">
                <div class="row no-margin" data-ng-include="ASSETS_BASE_URL + 'views/application/applicationInfo.html'">
                </div>
            </tab>
            <tab heading="Invited Users" ng-if="user.id == ctrl.app.owner.id"
            >
                <section class="widget bg-white post-comments"
                         data-ng-include="ASSETS_BASE_URL + 'views/application/listInvitations.html'">
                </section>
            </tab>
            <tab heading="Installation" ng-if="user.id == ctrl.app.owner.id">
                <div class="container" data-ng-include="ASSETS_BASE_URL + 'views/application/installation.html'">
                </div>
            </tab>
            <tab heading="Stats" ng-if="user.id == ctrl.app.owner.id">
                <div class="container" data-ng-include="ASSETS_BASE_URL + 'views/application/stats.html'">
                </div>
            </tab>
        </tabset>
    </div>
</div>


<style>
    .tab-accordion-header, .tab-accordion-header.active {
        display:none;
    }
    @media(max-width: 400px) {
        ul.nav-tabs {
            display:none;
        }
        .tab-accordion-header {
            background-color: #666666;
            color: #ffffff;
            padding: 10px;
            width: 100%;
            margin: 1px 0;
            display:block;
        }
        .tab-accordion-header.active {
            display:block;
            background-color:#dd3333;
        }
        .tab-content {
            border-top: 0px transparent none;
        }

        /**
        Add this to make them always open
        .tab-content > .tab-pane {
            display:block;
        }
        */
    }
</style>
