<div class="row">
    <mar class="col-md-12">

        <tabset justified="true" class="box-tab justified ">
            <tab heading="Detail Application">
                <div class="row no-margin" data-ng-include="ASSETS_BASE_URL + 'views/application/applicationInfo.html'">
                </div>

            </tab>
            <tab heading="Invited Users" ng-if="user.id == ctrl.app.owner.id"
            >
                <section class="widget bg-white post-comments"
                         data-ng-include="ASSETS_BASE_URL + 'views/application/listInvitations.html'">
                </section>
            </tab>
            <tab heading="Installation" ng-if="user.id == ctrl.app.owner.id">
                <div class="container" data-ng-include="ASSETS_BASE_URL + 'views/application/installation.html'">
                </div>
            </tab>
        </tabset>
</div>
</div>



