

<div class="col-md-10 col-sm-10 col-xs-10">

    <h2><i
            style="font-size: smaller;"
            class="fa fa-external-link"></i> Agent : </h2>
    <p style="border: 1px solid black;padding: 10px">
        <a href="{{ctrl.app.type.agent}}" target="_blank"> {{ctrl.app.type.agent}} </a>
    </p>
</div>

<div class="col-md-10 col-sm-10 col-xs-10">
    <h2><i
            style="font-size: smaller;"
            class="fa fa-cogs"></i> Installation : </h2>
    <div style="border: 1px solid black;padding: 10px" markdown="ctrl.app.type.installation">
    </div>
</div>