<div class="col-sm-12" style="word-wrap: break-word;">
    <div class="row">
        <h2><i
                style="font-size: smaller;"
                class="fa fa-external-link"></i> Agent : </h2>
        <p class="md-border">
            <a href="{{ctrl.app.type.agent}}" target="_blank"> {{ctrl.app.type.agent}} </a>
        </p>
    </div>
    <div class="row">

        <h2><i
                style="font-size: smaller;"
                class="fa fa-cogs"></i> Installation : </h2>
        <div class="md-border"
             markdown="ctrl.app.type.installation">
        </div>
    </div>
</div>

<style>
    .md-border {
        border: 1px solid black;
        padding: 3px
    }
</style>