<div class="col-md-10 col-sm-10 col-xs-10">
    <div>
        <div class="table-responsive">
            <table class="table mb0">
                <thead>
                <tr>
                    <th class="text-center">
                        Date
                    </th>
                    <th class="text-center ">Transactions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stat in ctrl.appStats"
                    ng-class="{'text-blue':$index < ctrl.retention,'bg-grey-f':$index >= ctrl.retention}">
                    <td class="text-center">
                        {{ctrl.moment(stat.day,ctrl.CONSTANTS.DEFAULT_DATE_FORMAT).format(CONSTANTS.EN_DATE_FORMAT)}}
                    </td>
                    <td class="text-center">{{stat.nbr}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a ui-sref="app.billingList" class="btn btn-block">Upgrade to see more available data</a>

    </div>
</div>
