.table > tbody > tr > td, .table > tbody > tr > td > span, .table > tbody > tr > td > button {
    vertical-align: middle;
}

.actionsCell {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.actionsCell > a, button {
    margin-left: 5px;
}

.checkbox-edit {
    padding-right: 10px;
}

.spin{
    text-align: center;
}

body.iframe {
    overflow-y: hidden;
}