.app {
    background-image: linear-gradient(to left, #009cbf, #21535f);
}

.login-footer {
    background-color: rgb(55, 55, 55);
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px;
    border-radius: 2px
}

.login-panel {
    margin-top: 20%;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.login-footer a {
    color: white;
}

.login-footer a:hover {
    color: #8DB9ED;
}