
<h1> Privacy Policy</h1>
<h3> Collection of information</h3>
<br/>
Information you provide to us: We collect information you provide directly to us. For example, we collect
information when you create an account, participate in any interactive features of the Service, fill out a form,
pay for subscriptions, request customer support or otherwise communicate with us. The types of information we
may collect include your name, email address, company name, phone number and any other information you choose to
provide.
Information we collect automatically when you use the Service: We gather certain information about your use of
the Services, including the type of browser you use, access times, pages viewed, and the page you visited before
navigating to our Services, and store it services (Google Analytics). We do not monitor or log data collected
from your servers when using the Services, but we may log or monitor information about your access to our
Services. We use various technologies to collect information, including cookies and web beacons, to help us
improve our Services and your experience.
<br/>
<h3> Use of information
</h3>
<br/>
We may use information about you for various purposes, including to:
<br/>
Provide, maintain and improve our Service.
Provide and deliver the products and services you request, process transactions and send you related
information, including confirmations and invoices.
Send you technical notices, updates, security alerts and support and administrative messages.
Respond to your comments, questions and requests and provide customer service.
Communicate with you about products, services, offers, promotions, rewards, and events offered by "Lead Wire"
and others, and provide news and information we think will be of interest to you.
Monitor and analyze trends, usage and activities in connection with our Service.
Detect, investigate and prevent fraud and other illegal activities and protect the rights and property of "Lead
Wire" and others.
Personalize and improve the Service and provide advertisements, content or features that match user profiles or
interests.
Facilitate contests and promotions.
<br/>
<br/>
We may share information about you as follows or as otherwise described in this Privacy Policy:
<br/>
With vendors, consultants and other service providers who need access to such information to carry out work on
our behalf only to the extent necessary to provide these services to us.
In response to a request for information if we believe disclosure is permitted by, in accordance with, or
required by, any applicable law, regulation or legal process such as to comply with a subpoena.
With other service providers to provide analytics services and serve advertisements on our behalf across the
Internet and in applications. For more information see http://www.aboutads.info/choices.
If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights,
property and safety of "Lead Wire" or others.
In connection with, or during negotiations of, any merger, sale of "Lead Wire" assets, financing or acquisition
of all or a portion of our business by another company.
Between and among "Lead Wire" and our current and future parents, affiliates, subsidiaries and other companies
under common control and ownership.
We may share aggregated or de-identified information, which cannot reasonably be used to identify you.
<br/>
<h3> Data storage and ownership
</h3>
<br/>
"Lead Wire" uses third-party vendors and hosting partners to provide the necessary hardware, software,
networking, storage, and related technology required to run "Lead Wire". Although "Lead Wire" owns the code,
databases, and all rights to the "Lead Wire" application, you retain all rights to your data.
<h3>Security</h3>
<br/>
"Lead Wire" has implemented security measures to protect personal information from loss, theft, misuse and
unauthorized access, disclosure, alteration and destruction.
<br/>
© 2018 "Lead Wire", Inc. All rights reserved. Terms of service and privacy policy apply.
    