<div class="container">
  <div class="quick-launcher-inner">
    <a href="javascript:;" class="close" quick-launch>×</a>
    <div class="css-table-xs">

      <div class="col">
        <a ui-sref="app.apps.calendar">
          <i class="fa fa-desktop"></i>
          <span>App 1</span>
        </a>
      </div>

      <div class="col">
        <a ui-sref="app.apps.calendar">
          <i class="fa fa-desktop"></i>
          <span>App 2</span>
        </a>
      </div>

      <div class="col">
        <a ui-sref="app.apps.calendar">
          <i class="fa fa-desktop"></i>
          <span>App 3</span>
        </a>
      </div>

      <div class="col">
        <a ui-sref="app.apps.calendar">
          <i class="fa fa-desktop"></i>
          <span>App 4</span>
        </a>
      </div>

      <div class="col">
        <a ui-sref="app.apps.calendar">
          <i class="fa fa-desktop"></i>
          <span>App 5</span>
        </a>
      </div>

    </div>


  </div>
</div>
</div>
