<div class="brand">

    <!-- logo -->
    <div class="brand-logo">
        <img data-ng-src="images/logo.png" height="30" alt="">
    </div>
    <!-- /logo -->

    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
       data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->

</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>
    <ul class="nav" data-ng-include="'views/common/'+currentNav+'-sidebar.html'">
    </ul>
</nav>
<!-- main navigation -->
<!-- /main navigation -->
