<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>Applications Overview </h4>
        <hr>
    </div>

    <div class="panel-body no-margin">
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-3" ng-repeat="application in ctrl.applications">
                    <div class="widget bg-grey" >
                        <div class="widget-icon bg-danger pull-left fa fa-desktop"> </div>
                        <div class="overflow-hidden"> <span class="widget-title">[[application.count]] Documents</span> <span
                                class="widget-subtitle">[[application.name]]</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>