/uploads/
/app/config/parameters.yml
/app/config/vendor/application.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/spool
/var/spool/*
!var/spool/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/app_dev.php
/web/api_dev.php
/web/config.php
/web/bundles/
/web/css/
/web/js/
*.log
/src/UIBundle/Resources/public/app
/src/UIBundle/Resources/public/dev/dist
/src/UIBundle/Resources/public/dev/node_modules
/src/UIBundle/Resources/public/dev/bower_components
/src/UIBundle/Resources/public/dev/app/vendor/*
/src/UIBundle/Resources/public/dev/app/scripts/app.js
/web/uploads/*
!/web/uploads/.gitkeep
/uploads/*
!/uploads/.gitkeep
.tmp
