<div class="panel mb25" ng-init="ctrl.init()">
    <div class="panel-heading border">
        <h4>Template List</h4>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="row mb30">
                <a ui-sref="app.management.addTemplate"
                   class="btn btn-success pull-right">
                    <i class="fa fa-plus"></i> Add new template</a>
            </div>
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>
