<div class="alert alert-warning create-env" role="alert" style="display: none">
  You need to <a ui-sref="app.management.addEnvironment" class="alert-link" style="text-decoration: underline;">create a default environment</a> before you start creating applications, or ask your administrator for further help.
</div>
<div class="panel mb25" ng-init="ctrl.onLoad()">
    <div class="panel-heading border">
        Application
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal bordered-group" name="applicationForm" ng-submit="ctrl.saveApp()"
                      role="form"
                >
                    <div ng-include="'application/form.html'"></div>
                    <button type="submit" ng-disabled="applicationForm.$invalid"
                            class="btn btn-primary pull-right">
                        <spinner is-loading="ctrl.ui.isSaving"></spinner>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
