<div class="col-lg-12">
    <h5><span class="bold text-bluegrey">Name : </span> [[ctrl.app.name]]</h5>
    <h5><span class="bold text-bluegrey">Type : </span> [[ctrl.app.type.name]]</h5>
    <h5><span class="bold text-bluegrey">App Email : </span> [[ctrl.app.email]]</h5>
    <h5><span class="bold text-bluegrey">Owner Email : </span> [[ctrl.app.owner.email]]</h5>
    <h5><span class="bold text-bluegrey">Owner Github : </span> [[ctrl.app.owner.username]]</h5>
    <h5><span class="bold text-bluegrey">State : </span>
        <span ng-class="ctrl.app.enabled ? 'label label-success' : 'label label-default'">[[ctrl.app.enabled ? 'Enabled' :'Disabled']]</span>
    </h5>
</div>