<fieldset class="scheduler-border" ng-if="ctrl.dashboardsNameList">
    <legend class="scheduler-border"> Edit Application Menu</legend>

    <accordion close-others="true">

        <accordion-group ng-repeat="name in ctrl.dashboardsNameList" is-open="false">

            <accordion-heading>
                [[name]] <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
            </accordion-heading>

            <div ng-repeat="dashboard in ctrl.getDashboardByTheme(name)" class="bordered-group form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">[[dashboard.name]]</label>
                    <div class="col-sm-10">
                        <label class="col-sm-2 control-label">Is visible</label>
                        <div class="col-sm-10">
                            <label class="switch switch-sm">
                                <input type="checkbox" ng-model="dashboard.visible">
                                <span>
                                    <i class="handle"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</fieldset>
<button ng-click="ctrl.updateDashboardMenu()" class="btn btn-primary pull-right">Submit</button>