<div class="col-md-12 col-sm-12" ng-init="ctrl.onLoad()">

    <tabset justified="true" class="box-tab justified ">
        <tab heading="Application Detail">
            <section ng-include="'application/applicationInfo.html'">
            </section>
        </tab>
        <tab heading="Invited Users" ng-if="user.id == ctrl.application.owner.id || ctrl.isAdmin(user)">
            <section class="widget bg-white post-comments" ng-include="'application/listInvitations.html'">
            </section>
        </tab>
        <tab heading="Access Rules" ng-if="user.id == ctrl.application.owner.id || ctrl.isAdmin(user)">
            <section class="widget bg-white post-comments" ng-include="'application/rules.html'">
            </section>
        </tab>
        <tab heading="Report"
             ng-click="ctrl.getReports()">
            <section class="widget bg-white post-comments" ng-include="'application/reports.html'">
            </section>
        </tab>
        <tab heading="Installation" ng-if="user.id == ctrl.application.owner.id  && ctrl.LEADWIRE_LOGIN_METHOD === 'github'">
            <section ng-include="'application/installation.html'">
            </section>
        </tab>
        <tab heading="Stats" ng-if="LEADWIRE_STRIPE_ENABLED && (user.id == ctrl.application.owner.id || ctrl.application.demo)">
            <section ng-include="'application/stats.html'">
            </section>
        </tab>
        <tab heading="Application view" ng-if="user.id == ctrl.application.owner.id || ctrl.isAdmin(user) || ctrl.isEditor() "
            ng-click="ctrl.getDashboardsList()">
            <section class="widget bg-white post-comments" ng-include="'application/applicationView.html'">
            </section>
        </tab>
    </tabset>
</div>