<div class="col-md-12 col-sm-12" ng-init="ctrl.onLoad()">

    <tabset justified="true" class="box-tab justified ">
        <tab heading="Application Detail">
            <section ng-include="'application/applicationInfo.html'">
            </section>
        </tab>
        <tab heading="Invited Users" ng-if="user.id == ctrl.application.owner.id">
            <section class="widget bg-white post-comments" ng-include="'application/listInvitations.html'">
            </section>
        </tab>
        <tab heading="Access Rules" ng-if="user.id == ctrl.application.owner.id">
            <section class="widget bg-white post-comments" ng-include="'application/rules.html'">
            </section>
        </tab>
        <tab heading="Report" ng-if="user.id == ctrl.application.owner.id">
            <section class=" widget bg-white post-comments" ng-include="'application/reports.html'">
            </section>
        </tab>
        <tab heading="Installation" ng-if="user.id == ctrl.application.owner.id  && ctrl.LOGIN_METHOD === 'github'">
            <section ng-include="'application/installation.html'">
            </section>
        </tab>
        <tab heading="Stats" ng-if="STRIPE_ENABLED && (user.id == ctrl.application.owner.id || ctrl.application.demo)">
            <section ng-include="'application/stats.html'">
            </section>
        </tab>
    </tabset>
</div>

<style>
    .tab-accordion-header,
    .tab-accordion-header.active {
        display: none;
    }

    @media (max-width: 400px) {
        ul.nav-tabs {
            display: none;
        }

        .tab-accordion-header {
            background-color: #666666;
            color: #ffffff;
            padding: 10px;
            width: 100%;
            margin: 1px 0;
            display: block;
        }

        .tab-accordion-header.active {
            display: block;
            background-color: #dd3333;
        }

        .tab-content {
            border-top: 0px transparent none;
        }

        /**
        Add this to make them always open
        .tab-content > .tab-pane {
            display:block;
        }
        */
    }
</style>