<div class="no-more-tables row">
    <div class="container row">
        <div class="col-md-2">
            <a ng-click="ctrl.openPrivateReports()" class="btn btn-primary pull-right ml10 ">
                Private reports </a>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <a ng-click="ctrl.openShredReports()" class="btn btn-primary pull-right ml10">
                Shared reports</a>
        </div>
    </div>

    <hr>

    <iframe scrolling="yes" src="[[ctrl.reportLinkPrivate]]" frameborder="0" ng-show="ctrl.showPrivate"
        iframe-set-dimensions-onload></iframe>

    <iframe scrolling="yes" src="[[ctrl.reportLinkShared]]" frameborder="0" ng-if="ctrl.showShared"
        iframe-set-dimensions-onload></iframe>
</div>