<div class="no-more-tables row">
    <div class="col-sm-6"></div>
    <div class="col-sm-3">
        <h6>Environment select</h6>
    </div>
    <div class="col-sm-3">
        <select data-ng-model="ctrl.selectedEnvironment" class="form-control">
            <option ng-selected="ctrl.selectedEnvironment == environment.id"
                ng-repeat="environment in ctrl.getEnvironmentsForReport()" value="[[environment.id]]">
                [[environment.name]]
            </option>
        </select>

    </div>
    <table class="table table-striped mb0">
        <thead>
            <tr>
                <th class="col-md-3">TimeStamp</th>
                <th class="col-md-3">Level</th>
                <th class="col-md-2">Action</th>
                <th class="col-md-2">Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="ctrl.ui.isLoading" class="text-center">
                <td colspan="7">
                    <spinner is-loading="ctrl.ui.isLoading" size="24"></spinner>
                </td>
            </tr>
            <tr ng-repeat="invitation in ctrl.application.invitations | filter:ctrl.filter">
            </tr>
        </tbody>
    </table>
</div>