<div class="no-more-tables">
    <table class="table table-striped mb0">
        <thead>
            <tr>
                <th class="col-md-5">User Email</th>
                <th class="col-md-3">User Name</th>
                <th class="col-md-2">Read</th>
                <th class="col-md-2">Write</th>
                <th class="col-md-2">All</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="ctrl.ui.isLoading" class="text-center">
                <td colspan="7">
                    <spinner is-loading="ctrl.ui.isLoading" size="24"></spinner>
                </td>
            </tr>
            <tr ng-repeat="invitation in ctrl.application.invitations | filter:{ user: '!true' }">
                <td data-title="Name" data-label="Name">
                    [[invitation.user.email]]
                </td>
                <td data-title="Email" data-label="Email">
                    [[invitation.user.username]]
                </td>
                <td data-title="Read" data-label="Read">
                    <i><input type="checkbox" name="default-checkbox-name" value="default-checkbox-val"></i>
                </td>
                <td data-title="Write" data-label="Write">
                    <i><input type="checkbox" name="default-checkbox-name" value="default-checkbox-val"></i>
                </td>
                <td data-title="All" data-label="All">
                    <i><input type="checkbox" name="default-checkbox-name" value="default-checkbox-val"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>