<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>Manage Companion</h4>
        <hr>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div class="row mb30">
                    <a ui-sref="app.management.addTmecs({id:ctrl.applicationId})"
                       class="btn btn-success pull-right">
                        <i class="fa fa-plus"></i> Add new companion</a>
                </div>
                <div class="no-more-tables">
                    <table class="table table-striped mb0">
                        <thead>
                        <tr>
                            <th class="text-center">Version</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Start date</th>
                            <th class="text-center">End date</th>
                            <th class="text-center" colspan="3"
                                style="text-align: center">Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="ctrl.ui.isLoading" class="text-center">
                            <td colspan="6">
                                <spinner is-loading="ctrl.ui.isLoading" size="24"></spinner>
                            </td>
                        </tr>
                        <tr ng-repeat="compagne in ctrl.compagnes" class="text-center">
                            <td data-title="Name" data-label="Name">
                                [[compagne.version]]
                            </td>
                            <td data-title="Agent" data-label="Agent">
                                [[compagne.description]]
                            </td>

                            <td data-title="Agent" data-label="Agent">
                                [[compagne.startDate| date:'dd/MM/yyyy']]
                            </td>

                            <td data-title="Agent" data-label="Agent">
                                [[compagne.endDate| date:'dd/MM/yyyy']]
                            </td>
                            <td data-title="Actions" data-label="Actions" class="text-center">
       
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>