# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_host:     mongo
    database_port:     27017
    database_name:     databasename
    database_user:     ~
    database_pass:     ~

    mailer_transport: gmail
    mailer_user:      contact@ats-digital.com
    mailer_password:  ats-digital&1
    sender: someAddress@ats-digital.com
    dev_delivery_address: someAddress@ats-digital.com
    auth_providers:
        github:
            github_access_token_url: 'https://github.com/login/oauth/access_token'
            github_users_api_url: 'https://api.github.com/user'
            github_client_secret: 'ae8e9acbad66b745e4c04409a85c8b5a724cc878'
        settings:
            token_secret: 52e431f6ed5a80ed700c04986b6ddf
    ldap:
        host: '145.239.158.168'
        port: '389'
        dn_user: 'cn=ldapadm,dc=leadwire,dc=io'
        mdp: 'ldppassword123'
    kibana:
        username: adm-portail
        password: portail-adm
        host: 'https://adm-kibana.leadwire.io'
        template_folder: '%kernel.project_dir%/app/Resources/Kibana'
    elastic:
        username: adm-portail
        password: portail-adm
        host: 'https://es.leadwire.io/'
