<div class="mt30" style="font-size: smaller;">Free accounts are not required to provide payment account information.<br>• When
    switching to a paid plan
    you will be asked to put valid payment information.<br>An upgrade from the free plan to any paying plan
    will immediately bill you.<br>• For monthly payment plans, the Service is billed in advance on a monthly
    basis and is non-refundable.<br>• There will be no refunds or credits for partial months of service,
    upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat<br>everyone
    equally, no exceptions will be made.<br>• All fees are exclusive of all taxes, levies, or duties imposed
    by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties,
    excluding only French taxes.<br>• The credit card that you provided will automatically be charged the
    new rate on your next billing cycle when your billing status changes.</div>