<div class="container">
    <div class="row">
        <div class="col-sm-5 col-xs-12 col-sm-offset-4 center-form panel login-panel">
            <div class="brand-logo text-center" style="margin-top: 20px">
                <img data-ng-src="/images/logo01 ft.png" height="60" alt="">
            </div>
            
                <div class="form-group has-feedback" ng-if="ctrl.loginMethod === 'login'">
                    <input class="form-control input-lg" type="text" name="text" ng-model="ctrl.login"
                        placeholder="Login" required autofocus>
                    <span class="ion-at form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback" ng-if="ctrl.loginMethod === 'login'">
                    <input class="form-control input-lg" type="password" name="password" ng-model="ctrl.password"
                        placeholder="Password" required>
                    <span class="ion-key form-control-feedback"></span>
                </div>
            
            <div class="panel-body text-center mt20">
                <button id="github-button" style="font-size: larger" class="btn btn-block btn-social btn-github"
                  ng-click="ctrl.authenticate()">
                    <spinner is-loading="ctrl.isChecking"></spinner>
                   
                    <i ng-if="!ctrl.isChecking && ctrl.loginMethod === 'github'" class="fa fa-github"></i>
                     <span ng-if="ctrl.loginMethod === 'github">Sign in with GitHub</span>
                   
                     <i ng-if="!ctrl.isChecking  && ctrl.loginMethod === 'login'" class="fa fa-user-circle"></i> 
                    <span ng-if="ctrl.loginMethod === 'login'">Sign in</span>
                    
                    <i ng-if="!ctrl.isChecking && ctrl.loginMethod === 'proxy'" class="fa fa-server"></i>
                    <span ng-if="ctrl.loginMethod === 'proxy'">Sign in with Proxy</span>
                </button>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <div class="container" style="display: flex;justify-content: space-around">
            <a ui-sref="static.aboutUs" target="_blank" class="btn btn-link btn-sm">About</a>
            <a ui-sref="static.help" target="_blank" class="btn btn-link btn-sm">Help</a>
            <a ui-sref="static.termsOfService" target="_blank" class="btn btn-link btn-sm">Terms of service</a>
            <a ui-sref="static.privacyPolicy" target="_blank" class="btn btn-link btn-sm">Privacy Policy</a>

        </div>
    </div>
</div>

<style>
    .app {
        background-image: linear-gradient(to left, #009cbf, #21535f);
    }

    .login-footer {
        background-color: rgb(55, 55, 55);
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        padding: 5px;
        border-radius: 2px
    }

    .login-panel {
        margin-top: 20%;
        border-radius: 7px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
    }

    .login-footer a {
        color: white;
    }

    .login-footer a:hover {
        color: #8DB9ED;
    }
</style>
