<div class="wrap">
    <div class="pricing-table">
        <div ng-repeat="plan in ctrl.plans | orderBy:ctrl.orderBy" class="plan" ng-if="ctrl.shouldShowPlan(plan)">
            <h3 class="name">[[plan.name]]</h3>
            <h4 class="price">[[plan.price]] € <br>
                <span class="text-center"> per month</span>
            </h4>
            <ul class="details">
                <li>[[plan.retention]] [[plan.retention > 1 ? 'days' :'day']] <strong>Retention</strong></li>
                <li>[[plan.maxTransactionPerDay.toLocaleString()]]<strong> Transaction/day </strong></li>
            </ul>

            <h5 class="order">
                <button ng-class="{'btn-success':ctrl.billingInformation.plan==plan.id}"
                    ng-click="ctrl.choosePlan(plan)" class="btn">Order
                </button>
            </h5>
        </div>
    </div>
</div>