<div class="panel mb25" ng-init="ctrl.onLoad()">
    <div class="panel-heading border">
        Billing List
    </div>
    <div class="panel-body">
        <div class="mb25">
            <a ui-sref="app.updateSubscription({action:'upgrade'})" class="btn btn-primary pull-right ml15 mb25"><i
                    class="fa fa-arrow-up"></i> Upgrade</a>
            <a ui-sref="app.updateSubscription({action:'downgrade'})" class="btn btn-danger pull-right ml15 mb25"><i
                    class="fa fa-arrow-down"></i> Downgrade</a>
        </div>
        <div class="clearfix"></div>
        <div  class="panel panel-bordered">
            <div class="panel-heading border-primary">
                Information
            </div>
            <div class="panel-body bg-primary-dark">
                <div ng-if="ctrl.subscription" class="col-sm-12">
                    <div class="col-sm-6">
                        <span class="bold">Subscription creation date :</span>
                        {{ctrl.moment(ctrl.subscription.created *
                        1000).format(ctrl.CONSTANTS.EN_DATE_FORMAT)}}
                    </div>
                    <div class="col-sm-6">

                        <span class="bold">Current plan : </span>
                        {{user.plan.name}}
                    </div>
                    <div class="col-sm-6">
                        <span class="bold">Subscriptions : </span>
                        <ul>
                            <li class="" ng-repeat="item in ctrl.subscription.items.data">
                                Pricing plan : {{item.plan.nickname}} <br>
                                Payment interval : {{item.plan.interval}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <span class="bold">Payment due :</span>
                        {{ctrl.moment(ctrl.subscription.current_period_end *
                        1000).format(ctrl.CONSTANTS.EN_DATE_FORMAT)}}
                    </div>
                </div>
                <div ng-if="!ctrl.subscription" class="col-sm-12 text-center">
                    <spinner is-loading="!ctrl.subscription" size="36"/>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">ID</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Receipt</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="ctrl.ui.isLoading">
                    <td colspan="5" class="text-center">
                        <spinner is-loading="ctrl.ui.isLoading"></spinner>
                    </td>
                </tr>
                <tr ng-repeat="invoice in ctrl.invoices">
                    <th class="text-center">
                        <i ng-if="invoice.paid" class="fa fa-check text-green"></i>
                        <i ng-if="!invoice.paid" class="fa fa-remove text-red"></i>
                    </th>
                    <th class="text-center">{{invoice.id}}</th>
                    <th class="text-center">
                        {{ctrl.moment(invoice.date * 1000).format(ctrl.CONSTANTS.EN_DATE_FORMAT)}}
                    </th>
                    <th class="text-center">{{invoice.total/100 | currency:'€'}}</th>
                    <th class="text-center">
                        <a href="{{invoice.invoice_pdf}}">
                            <i class="fa fa-download"></i>
                        </a>
                    </th>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
