<p>
                        <span class="pull-left">
                            {{ctrl.ui.billText}} (excl tax) :
                        </span>
    <span class="pull-right" style="font-size: medium">
                           <span class="text-red" ng-if="ctrl.billingInformation.billingType=='yearly'">
                               (-{{ctrl.selectedPlan.discount}} %)
                           </span> {{ ctrl.exclTaxPrice }} €
                        </span>
</p>
<hr>
<p>
                        <span class="pull-left">
                            {{ctrl.ui.billText}} (incl tax) :
                        </span>
    <span class="pull-right" style="font-size: medium">
                            {{ ctrl.inclTaxPrice }} €
                        </span>
</p>