<div class="panel mb25">
    <div class="panel-heading border">
        Billing List
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped mb0">
                <thead>
                <tr>
                    <th class="col-md-5 text-center">
                        <span></span>Date
                    </th>
                    <th class="col-md-5 text-center">Number</th>
                </tr>
                </thead>
                <tbody>
                <tr >

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
