<div class="">
    <button class="btn btn-primary pull-right ml10 ">Add private dashboard </button>
    <button class="btn btn-primary pull-right ml10 ">Add shared dashboard</button>
    <h4>Custom Dashboard</h4>
    <hr>
</div>

<div class="col-sm-12 col-md-12 col-xs-12">
    <div ng-repeat="theme in ctrl.themeList" class="col-md-6 col-sm-6 col-xs-12">
        <h3>{{theme.name}}</h3>
        <ul>
            <li ng-repeat="dashboard in theme.dashboards">
                <h4>
                    <a ui-sref="app.dashboard({id:dashboard.id})">
                        {{dashboard.name}}
                    </a>- <i  ng-class="{'fa fa-lock':dashboard.private,'fa fa-unlock':!dashboard.private}"></i>
                </h4>
            </li>
        </ul>
    </div>
</div>