<div class="container">
    <div class="row">
        <div class="col-sm-5 col-xs-12 col-sm-offset-4 center-form panel panel-danger"
             style="margin-top: 20%;border-radius: 7px;   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);">
            <div class="brand-logo text-center" style="margin-top: 20px">
                <img data-ng-src="{{ASSETS_BASE_URL}}images/logo01 ft.png" height="60" alt="">
            </div>

            <div class="panel-body text-center mt20">
                <button id="github-button" style="font-size: larger" class="btn btn-block btn-social btn-github"
                        ng-click="ctrl.authenticate('github')">
                    <spinner is-loading="ctrl.isChecking"></spinner>

                    <i ng-if="!ctrl.isChecking" class="fa fa-github"></i> <span>Sign in with GitHub</span>
                </button>

            </div>
        </div>
    </div>
    <div class="login-footer">
        <div class="container" style="display: flex;justify-content: space-around">
            <a ui-sref="static.aboutUs" target="_blank" class="btn btn-link btn-sm">About</a>
            <a ui-sref="static.help" target="_blank" class="btn btn-link btn-sm">Help</a>
            <a ui-sref="static.termsOfService" target="_blank" class="btn btn-link btn-sm">Terms of service</a>
            <a ui-sref="static.privacyPolicy" target="_blank" class="btn btn-link btn-sm">Privacy Policy</a>

        </div>
    </div>
</div>

<style>
    .app {
        background-image: linear-gradient(to top, #009cbf, #21535f);
    }

    .login-footer {
        background-color: rgb(55, 55, 55);
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        padding: 5px;
        border-radius: 2px
    }

    .login-footer a {
        color: white;
    }

    .login-footer a:hover {
        color: #8DB9ED;
    }
</style>

