<div class="row no-margin">
    <div class="col-lg-12">

        <div class="wrap">
            <div class="pricing-table">
                <div class="plan">
                    <h3 class="name">{{ctrl.plans[0].name}}</h3>
                    <h4 class="price">{{ctrl.plans[0].price}} €<span>/month</span></h4>
                    <ul class="details">
                        <li>{{ctrl.plans[0].retention}} days<strong> Retention </strong></li>
                        <li>{{ctrl.plans[0].maxTransactionPerDay}}<strong> Transaction/day </strong></li>
                    </ul>

                    <h5 class="order">
                        <button ng-class="{'btn-success':ctrl.billingInformation.plan==ctrl.plans[0].id}"
                                ng-click="ctrl.choosePlan(ctrl.plans[0])" class="btn">Order
                        </button>
                    </h5>
                </div><!--.plan-->

                <div class="plan">
                    <h3 class="name">{{ctrl.plans[1].name}}</h3>
                    <h4 class="price">{{ctrl.plans[1].price}} €<span>/month</span></h4>

                    <ul class="details">
                        <li>{{ctrl.plans[1].retention}} days<strong> Retention </strong></li>
                        <li>{{ctrl.plans[1].maxTransactionPerDay}}<strong> Transaction/day </strong></li>
                    </ul>

                    <h5 class="order">
                        <button ng-class="{'btn-success':ctrl.billingInformation.plan==ctrl.plans[1].id}" ng-click="ctrl.choosePlan(ctrl.plans[1])" class="btn">Order</button>
                    </h5>
                </div><!--.plan-->

                <div class="plan">
                    <h3 class="name">{{ctrl.plans[2].name}}</h3>
                    <h4 class="price">{{ctrl.plans[2].price}} €<span>/month</span></h4>

                    <ul class="details">
                        <li>{{ctrl.plans[2].retention}} days<strong> Retention </strong></li>
                        <li>{{ctrl.plans[2].maxTransactionPerDay}}<strong> Transaction/day </strong></li>
                    </ul>

                    <h5 class="order">
                        <button ng-class="{'btn-success':ctrl.billingInformation.plan==ctrl.plans[2].id}"
                                ng-click="ctrl.choosePlan(ctrl.plans[2])" class="btn">Order</button>
                    </h5>
                </div><!--.plan-->
            </div><!--.pricing-table-->
        </div>
        <div class="row mt25 mb25">
            <button class="btn btn-primary pull-right" data-ng-disabled="!ctrl.billingInformation.plan" data-ng-click="ctrl.nextStep()">Validate</button>
        </div>
        <p style="font-size: smaller;">Free accounts are not required to provide payment account information.<br>• When
            switching to a paid plan
            you will be asked to put valid payment information.<br>An upgrade from the free plan to any paying plan
            will immediately bill you.<br>• For monthly payment plans, the Service is billed in advance on a monthly
            basis and is non-refundable.<br>• There will be no refunds or credits for partial months of service,
            upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat<br>everyone
            equally, no exceptions will be made.<br>• All fees are exclusive of all taxes, levies, or duties imposed
            by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties,
            excluding only French taxes.<br>• The credit card that you provided will automatically be charged the
            new rate on your next billing cycle when your billing status changes.</p>
    </div>
</div>
<!--.wrap-->
<style>
    .cf:before, .pricing-table:before,
    .cf:after,
    .pricing-table:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }

    .cf:after, .pricing-table:after {
        clear: both;
    }

    .cf, .pricing-table {
        zoom: 1;
    }

    .wrap {
        width: 100%;
        margin: 30px auto;
        color: #607d8b;
        box-shadow: 1px 1px 10px #424242;
    }

    .pricing-table .plan {
        box-sizing: border-box;
        width: 33.33%;
        background-color: #fff;
        float: left;
        text-align: center;
        position: relative;
        z-index: 10;
    }

    .pricing-table .plan h3.name {
        font-size: 20px;
        background-color: #546e7a;
        padding: 15px;
        color: #fff;
    }

    .pricing-table .plan h4.price {
        font-size: 49px;
        color: #fff;
        padding: 30px;
        background-color: #01A4F5;
        line-height: 40px;
    }

    .pricing-table .plan h4.price span {
        font-size: 16px;
        font-style: italic;
    }

    .pricing-table .plan ul.details {
        list-style-type: none;
    }

    .pricing-table .plan ul.details li {
        border-bottom: 1px solid #B3B9C4;
        padding: 15px;
    }

    .pricing-table .plan h5.order {
        padding: 30px;
        font-size: 17px;
    }

    .pricing-table .plan h5.order a {
        text-decoration: none;
        color: #fff;
        background-color: #01A4F5;
        padding: 10px 20px;
    }

    .pricing-table .plan:first-child h4.price {
        background-color: #0EC0A5;
    }

    .pricing-table .plan:first-child h5.order a {
        background-color: #0EC0A5;
    }

    .pricing-table .plan:last-child h4.price {
        background-color: #F22D47;
    }

    .pricing-table .plan:last-child h5.order a {
        background-color: #F22D47;
    }

    .pricing-table .plan:nth-child(2n) {
        box-shadow: 0px 0px 10px #424242;
        z-index: 100;
    }
</style>