<div class="panel mb25">
    <div class="panel-heading border">
        User Settings
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form class="form-horizontal bordered-group" name="ctrl.userForm" ng-submit="ctrl.save()" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="login">Login</label>
                        <div class="col-sm-10">
                            <input type="text" id="login" class="form-control" ng-model="ctrl.user.username" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="name" class="form-control" ng-model="ctrl.user.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" autocomplete='email' ng-model="ctrl.user.email"
                                   id="focusedInput" placeholder="Your Email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Company" ng-model="ctrl.user.company">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" placeholder="Contact" ng-model="ctrl.user.contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">contact Preference</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.user.contactPreference">
                                <option>Email</option>
                                <option>Phone</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Avatar</label>
                            <div class="col-sm-6">
                                <input type="file" file-model="ctrl.avatar">
                            </div>
                            <div class="col-sm-2">
                                <img
                                     http-src="{{ctrl.user.avatar}}"
                                     class="m-r--30 pull-right" width="50" height="50" alt="{{ctrl.user.name}}"
                                     title="{{ctrl.user.name}}"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">I accept</label>
                        <div class="col-sm-10">

                            <div class="checkbox" ng-if="ctrl.showCheckBoxes">
                                <label>
                                    <input type="checkbox" required>Terms of contract
                                </label>
                            </div>

                            <div class="checkbox" ng-if="ctrl.showCheckBoxes">
                                <label>
                                    <input type="checkbox" required>TOS
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="ctrl.user.acceptNewsLetter">Newsletter
                                </label>
                            </div>

                        </div>
                    </div>

                    <button type="submit" ng-disabled="ctrl.userForm.$invalid" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
