<div class="row" ng-init="ctrl.onLoad()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ctrl.action}} subscription
        </div>
        <div class="panel-body">

            <div class="text-center">
                <div class="widget bg-white">
                    <div class="overflow-hidden">
                        <span class="widget-title">{{user.plan.name}}</span>
                        <span class="widget-subtitle">Actual plan</span>
                    </div>
                    <hr>
                </div>
            </div>

            <div ng-if="ctrl.plans.length" class="col-md-12">
                <div ng-if="ctrl.cantMakeUpgrade" class="widget bg-dark-light">
                    <div class="widget-bg-icon">
                        <i class="fa fa-warning"></i>
                    </div>
                    <div class="widget-details">
                        <h4 class="no-margin">Warning</h4>
                        <span>You can't make an upgrade , you're already in the highest plan</span>
                    </div>
                </div>
            </div>

            <!--<h4 class="text-center text-primary">Actual plan : {{user.plan.name}}</h4>-->
            <div class="col-sm-12" ng-if="!ctrl.ui.isLoading">
                <div data-ng-include="ASSETS_BASE_URL + 'views/pricingTable.html'"></div>
                <hr>
            </div>
            <div></div>
            <div class="text-center bg-default widget border border-primary"
                 ng-if="ctrl.billingInformation.plan && ctrl.selectedPlan.price > 0">
                <div class="col-sm-6" data-ng-include="ASSETS_BASE_URL + 'views/billingEngagementChoices.html'"></div>
                <div class="col-sm-6" ng-if="ctrl.exclTaxPrice"
                     data-ng-include="ASSETS_BASE_URL + 'views/billingTotals.html'"></div>
            </div>
            <form class="form-horizontal bordered-group" name="ctrl.billingForm"
                  ng-submit="ctrl.validateBilling()"
                  role="form"
            >
                <div class="row" ng-if="user.plan.price==0 && ctrl.billingInformation.plan">
                    <div data-ng-include="ASSETS_BASE_URL + 'views/billingForm.html'"></div>

                    <div data-ng-include="ASSETS_BASE_URL + 'views/billingTips.html'"></div>
                </div>
                <div class="row mt25">
                    <button type="button" class="btn btn-primary pull-right ml15"
                            ng-if="!ctrl.cantMakeUpgrade"
                            ng-disabled="ctrl.billingForm.$invalid || !ctrl.selectedPlan || ctrl.ui.isSaving"
                            data-ng-click="ctrl.validateBilling()">
                        <spinner is-loading="ctrl.ui.isSaving"></spinner> <span>Validate</span>
                    </button>

                </div>
            </form>
        </div>
        <div class="col-sm-12 text-center">
            <spinner is-loading="ctrl.ui.isLoading" size="24"/>
        </div>

    </div>
</div>