<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>Manage Applications </h4>
        <hr>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div class="row">
                    <button class="btn  btn-default pull-right" ng-click="ctrl.generateCode()"><i
                            class="fa fa-lock"></i>
                        Generate code
                    </button>
                </div>
                <table class="table table-striped mb0">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Owner</th>
                            <th class="text-center">Status</th>
                            <th class="text-center" colspan="3" style="text-align: center">Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ctrl.ui.isLoading" class="text-center">
                            <td colspan="6">
                                <spinner is-loading="ctrl.ui.isLoading" size="24"></spinner>
                            </td>
                        </tr>
                        <tr ng-repeat="application in ctrl.applications" class="text-center">
                            <td data-title="Name" data-label="Name">
                                [[application.name]]
                            </td>
                            <td data-title="Owner" data-label="Owner">
                                [[application.owner.name]]
                            </td>
                            <td data-title="Status" data-label="Status">
                                <span class="label"
                                    data-ng-class="application.removed ? 'label-danger' : !application.enabled ? 'label-warning' : 'label-success'">
                                    [[application.removed ? 'Removed' : application.enabled ? 'Activated' :
                                    'Deactivated']]
                                </span>
                            </td>
                            <td data-title="Actions" data-label="Actions" class="text-center">

                                <a ui-sref="app.management.applicationDetail({id:application.id})"  class="btn btn-primary">
                                    <i class="fa fa-tasks"></i>
                                    Compagnes
                                </a>

                                <button data-ng-disabled="application.removed"
                                    data-ng-class="application.enabled ? 'btn btn-danger' : 'btn btn-success'"
                                    ng-click="ctrl.handleOnToggleStatus(application)">
                                    <i class="fa" data-ng-class="application.enabled ? 'fa-lock' : 'fa-unlock'"></i>
                                    [[application.enabled ? 'Deactivate' : 'Activate']]
                                </button>
                                <a ui-sref="app.management.applicationDetail({id:application.id})" class="btn btn-info">
                                    <i class="fa fa-info-circle"></i>
                                    Detail
                                </a>


                                <button class="btn bg-red" data-ng-disabled="application.removed"
                                    ng-click="ctrl.handleOnDelete(application)">
                                    <i class="fa fa-trash"></i> Delete
                                    <spinner is-loading="ctrl.ui['isDeleting'+application.id]"></spinner>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>