<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>Manage Application Types</h4>
        <hr>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div class="row mb30">
                    <a ui-sref="app.management.addApplicationTypes"
                       class="btn btn-success pull-right">
                        <i class="fa fa-plus"></i> Add new application type</a>
                </div>
                <div class="no-more-tables">
                    <table class="table table-striped mb0">
                        <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center" colspan="3"
                                style="text-align: center">Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="ctrl.ui.isLoading" class="text-center">
                            <td colspan="6">
                                <spinner is-loading="ctrl.ui.isLoading"
                                         size="24"></spinner>
                            </td>
                        </tr>
                        <tr ng-repeat="appType in ctrl.appTypes"
                            class="text-center"
                        >
                            <td data-title="Name" data-label="Name">
                                <span>
                                    [[appType.name]]
                                </span>
                            </td>
                            <td data-title="Description" data-label="Description">
                                [[appType.description]]
                            </td>
                            <td data-title="Actions" data-label="Actions"
                                class="text-center">
                                <a class="btn btn-warning"
                                   ui-sref="app.management.editApplicationTypes({id:appType.id})">
                                    Edit
                                </a>
                                <button class="btn btn-danger"
                                        ng-click="ctrl.handleOnDelete(appType.id)">
                                    Delete
                                    <spinner is-loading="ctrl.ui['isDeleting'+appType.id]"></spinner>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
