{% extends "CoreBundle:Default/basic:index.html.twig" %}

{% block body %}

	{% if error %}
	    <div>{{ error.messageKey }}</div>
	{% endif %}

	<form action="{{ path('user_security_login_check') }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	    <label for="username">Username:</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" />

	    <label for="password">Password:</label>
	    <input type="password" id="password" name="_password" />

	    <input type="checkbox" id="remember_me" name="_remember_me" />
        <label for="remember_me">Remember me</label>

	    <button type="submit">login</button>
	</form>

{% endblock %}
