<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>Cluster Overview </h4>
        <hr>
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div ng-class="ctrl.border" class="card  mb-3" style="max-width: 32rem;margin-left: 35%">
                    <div ng-class="ctrl.border" class="card-header bg-transparent "><h3>Cluster Name : [[ctrl.stats.name]]</h3></div>
                    <div class="card-body" ng-class="ctrl.text">
                        <h3 class="card-title">Cluster Status : [[ctrl.stats.status]]</h3>
                        <div class="widget bg-white">
                            <div class="widget-icon bg-blue pull-left fas fa-file-alt"> </div>
                            <div class="overflow-hidden"> <span class="widget-title">[[ctrl.stats.documents]]</span> <span
                                    class="widget-subtitle">Documents Number</span> </div>
                        </div>
                        <div class="widget bg-white">
                            <div class="widget-icon bg-danger pull-left fas fa-memory"> </div>
                            <div class="overflow-hidden"> <span class="widget-title percent">[[ctrl.stats.memory]]</span> <span
                                    class="widget-subtitle">Memory Used</span> </div>
                        </div>
                        <div class="widget bg-white">
                            <div class="widget-icon bg-success pull-left fas fa-microchip"> </div>
                            <div class="overflow-hidden"> <span class="widget-title percent">[[ctrl.stats.cpu]]</span> <span class="widget-subtitle">CPU Used</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
