<nav class="footer-right">
  <ul class="nav"  ng-if="LOGIN_METHOD === 'github'">
    <li>
      <a href="javascript:;">Feedback</a>
    </li>
    <li>
      <a href="javascript:;" class="scroll-up" scroll-up>
        <i class="fa fa-angle-up"></i>
      </a>
    </li>
  </ul>
</nav>

<nav class="footer-left">
  <ul class="nav">
    <li>
      <a href="javascript:;">Copyright <i class="far fa-copyright"></i> <span>leadwire</span> [[app.year]]. All rights reserved ([[app.version]])</a>
    </li>
    <li ng-if="LOGIN_METHOD === 'github'">
      <a ui-sref="static.aboutUs" target="_blank" class="btn btn-link btn-sm">About</a>
    </li>
    <li ng-if="LOGIN_METHOD === 'github'">
      <a ui-sref="static.help" target="_blank" class="btn btn-link btn-sm">Help</a>
    </li>
    <li ng-if="LOGIN_METHOD === 'github'">
      <a ui-sref="static.termsOfService" target="_blank" class="btn btn-link btn-sm">Terms of service</a>
    </li>
    <li ng-if="LOGIN_METHOD === 'github'">
      <a ui-sref="static.privacyPolicy" target="_blank" class="btn btn-link btn-sm">Privacy Policy</a>
    </li>
  </ul>
</nav>
