<div class="brand">

    <!-- logo -->
    <a class="brand-logo" data-ng-click="brandRedirectTo()">
        <img data-ng-src="images/logo.png" height="30" alt="">
    </a>
    <!-- /logo -->

    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
        data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->

</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>
    <ul class="nav">
        <li class="text-center" ng-if="isChangingContext">
            <spinner is-loading="true" size="32" color="'antiquewhite'"></spinner>
        </li>
        <li ng-repeat="(key, menu) in menus" ng-if="!isChangingContext && state.includes('app.dashboard') == false"
            ui-sref-active="active">
            <a style="cursor: pointer;" ng-if="menu.route && menu.routeName != 'app.management.reports'"
                ui-sref="[[menu.routeName]]" ui-sref-opts="{reload: true}"><i class="[[menu.icon]]"></i>
                <span>[[menu.label]]</span>
            </a>
            <a ng-if="menu.url" ng-href="[[menu.url]]" target="_blank">
                <i class="[[menu.icon]]"></i>
                <span>[[menu.label]]</span>
            </a>
        </li>

        <div ng-repeat="(key, menu) in menus" ng-if="!isChangingContext && state.includes('app.dashboard')">
            <li data-toggle="collapse" data-target="#[[key]]" ng-class="collapsed" ui-sref-active-eq
                style="padding: 13px 21px;" ng-if="showMenu(menu)">
                <a title="[[key]]">
                    <i ng-class="key !== '' ? getIcon(key) : 'fa fa-exchange-alt'"></i>
                    <span>[[key]]</span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="[[key]]">
                <li ng-repeat="submenu in menu" style="list-style-type: none;" ui-sref-active="active">
                    <a id="[[submenu.routeId]]" ui-sref="[[submenu.routeName]]" ui-sref-opts="{reload: true}"
                        title="[[submenu.label]]" ng-if="submenu.visible" style="padding: 13px 21px;">
                        <i class="[[submenu.icon]]"></i>
                        <span>[[submenu.label]]</span>
                    </a>
                </li>
            </ul>
        </div>

        <li ng-if="!isChangingContext && state.includes('app.dashboard')">
            <a ng-href="[['#/dashboard/custom/' + $sessionStorage.selectedAppId]]">
                <i class="fa fa-file-alt"></i>
                <span>Custom</span>
            </a>
        </li>
    </ul>
</nav>
<!-- main navigation -->
<!-- /main navigation -->
<!--  -->