<div class="brand">

    <!-- logo -->
    <a class="brand-logo" data-ng-click="brandRedirectTo()">
        <img data-ng-src="images/logo.png" height="30" alt="">
    </a>
    <!-- /logo -->

    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
       data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->

</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>
    <ul class="nav">
        <li class="text-center" ng-if="isChangingContext">
            <spinner is-loading="true" size="32" color="'antiquewhite'"></spinner>
        </li>
        <li ng-repeat="menu in menus track by $index"
            ng-if="!isChangingContext && state.includes('app.dashboard') == false"
            ui-sref-active="active">
             <a ng-if="menu.route" ng-href="[[menu.route]]">
                <i class="[[menu.icon]]"></i>
                <span>[[menu.label]]</span>
            </a>
            <a ng-if="menu.url" ng-href="[[menu.url]]" target="_blank">
                <i class="[[menu.icon]]"></i>
                <span>[[menu.label]]</span>
            </a>
        </li>
        <div ng-repeat="menu in menus track by $index" ng-if="!isChangingContext && state.includes('app.dashboard')">
            <li data-toggle="collapse" data-target="#[[menu.split(' ').join('')]]" ng-class="collapsed" ui-sref-active="active" style="padding: 13px 21px;">
                <a href="#"><i ng-class="menu == 'APM' ? 'fa fa-eye' : 'fa fa-exchange-alt'"></i> [[menu]] <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="[[menu.split(' ').join('')]]">
                <li ng-repeat="submenu in menus[menu]" style="list-style-type: none;">
                    <a ng-href="[[submenu.route]]" style="padding: 13px 21px;">
                            <i class="[[submenu.icon]]"></i>
                            <span>[[submenu.label]]</span>
                    </a>
                </li>
            </ul>
        </div>
        <li ng-if="!isChangingContext && state.includes('app.dashboard')">
            <a ui-sref="app.dashboard.customDashboard">
                <i class="fa fa-file-alt"></i>
                <span>Custom</span>
            </a>
        </li>
    </ul>
</nav>
<!-- main navigation -->
<!-- /main navigation -->
<!--  -->
