<div class="panel" ng-init="ctrl.init()">
    <div class="panel-heading">
        <h4>
            Manage Access Levels
            <span ng-if="ctrl.selectedEnvironmentName"><br /><br />Environment: [[ ctrl.selectedEnvironmentName ]]</span>
            <span ng-if="ctrl.selectedApplicationName"><br /><br />Application: [[ ctrl.selectedApplicationName ]]</span>
        </h4>
        <hr>
    </div>
    <!-- list to pick an environment from the list -->
    <div class="panel-body" ng-if="ctrl.view.environments">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div class="no-more-tables">
                    <table class="table table-striped mb0">
                        <thead>
                        <tr>
                            <th class="text-left">Environment Name</th>
                            <th class="text-left">Ip</th>
                            <th class="text-left">Access Levels
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="ctrl.ui.isLoading" class="text-center">
                            <td colspan="6">
                                <spinner is-loading="ctrl.ui.isLoading"
                                         size="24"></spinner>
                            </td>
                        </tr>
                        <tr ng-repeat="environment in ctrl.environments"
                            class="text-left"
                        >
                            <td data-title="Name" data-label="Name">
                                <span>
                                    [[environment.name]]
                                </span>
                            </td>
                            <td data-title="Name" data-label="Name">
                                <span>
                                    [[environment.ip]]
                                </span>
                            </td>
                            <td data-title="Actions" data-label="Actions" class="text-left">
                                <button
                                    title="User Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-click="ctrl.loadUsers(environment.id, null)">
                                    <i class="fa fa-user-shield"></i>
                                </button>
                                <button
                                    title="Application Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-click="ctrl.loadApplications(environment.id)">
                                    <i class="fa fa-desktop"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- list to pick an environment from the list -->
    <div class="panel-body" ng-if="ctrl.view.applications">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div class="row mb10">
                    <a prevent-default class="btn btn-primary pull-left" ng-click="ctrl.loadEnvironments()">
                        <i class="fa fa-arrow-left"></i> Back to environments list
                    </a>
                </div>
                <div class="no-more-tables">
                    <table class="table table-striped mb0">
                        <thead>
                        <tr>
                            <th class="text-left">Application Name</th>
                            <th class="text-left">Uuid</th>
                            <th class="text-left">Access Levels
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="ctrl.ui.isLoading" class="text-center">
                            <td colspan="6">
                                <spinner is-loading="ctrl.ui.isLoading"
                                         size="24"></spinner>
                            </td>
                        </tr>
                        <tr ng-repeat="application in ctrl.applications"
                            class="text-left"
                        >
                            <td data-title="Name" data-label="Name">
                                <span>
                                    [[application.name]]
                                </span>
                            </td>
                            <td data-title="Name" data-label="Name">
                                <span>
                                    [[application.uuid]]
                                </span>
                            </td>
                            <td data-title="Actions" data-label="Actions" class="text-left">
                                <button
                                    title="User Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-click="ctrl.loadUsers(ctrl.selectedEnvironment, application.id)">
                                    <i class="fa fa-user-shield"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- list to pick a user from the list -->
    <div class="panel-body" ng-if="ctrl.view.users">
        <div class="row no-margin">
            <div class="col-lg-12 ">
                <div class="row mb10" ng-if="!ctrl.selectedApplication">
                    <a prevent-default class="btn btn-primary pull-left" ng-click="ctrl.loadEnvironments()">
                        <i class="fa fa-arrow-left"></i> Back to environments list
                    </a>
                </div>
                <div class="row mb10" ng-if="ctrl.selectedApplication">
                    <a prevent-default class="btn btn-primary pull-left" ng-click="ctrl.loadApplications(ctrl.selectedEnvironment)">
                        <i class="fa fa-arrow-left"></i> Back to applications list
                    </a>
                </div>
                <div class="no-more-tables">
                    <table class="table table-striped mb0">
                        <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Email</th>
                            <th class="text-left">Uuid</th>
                            <th class="text-left">
                                Granted access <span ng-if="!ctrl.selectedApplication">(full)</span></th>
                            <th class="text-left">Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="ctrl.ui.isLoading" class="text-center">
                            <td colspan="6">
                                <spinner is-loading="ctrl.ui.isLoading"
                                         size="24"></spinner>
                            </td>
                        </tr>
                        <tr ng-repeat="user in ctrl.users"
                            class="text-left"
                        >
                            <td data-title="Name" data-label="Name">
                                <span>
                                    [[user.name]]
                                </span>
                            </td>
                            <td data-title="Email" data-label="Email">
                                <span>
                                    [[user.email]]
                                </span>
                            </td>
                            <td data-title="Uuid" data-label="Uuid">
                                <span>
                                    [[user.uuid]]
                                </span>
                            </td>
                            <td data-title="AclEnvironment" data-label="AclEnvironment" ng-if="!ctrl.selectedApplication">
                                <span ng-if="user.readAccessByEnvironment[ctrl.selectedEnvironment]">READ</span>
                                <span ng-if="user.writeAccessByEnvironment[ctrl.selectedEnvironment]">WRITE</span>
                            </td>
                            <td data-title="AclApplication" data-label="AclApplication" ng-if="ctrl.selectedApplication">
                                <span ng-if="user.accessLevels[ctrl.selectedEnvironment][ctrl.selectedApplication].READ">READ</span>
                                <span ng-if="user.accessLevels[ctrl.selectedEnvironment][ctrl.selectedApplication].WRITE">WRITE</span>
                            </td>
                            <td data-title="Actions" data-label="Actions" class="text-left" ng-if="!ctrl.selectedApplication">
                                <button
                                    title="Grant Read Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-if="!user.readAccessByEnvironment[ctrl.selectedEnvironment]"
                                    ng-click="ctrl.grantAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'READ')">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button
                                    title="Revoke Read Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-red"
                                    ng-if="user.readAccessByEnvironment[ctrl.selectedEnvironment]"
                                    ng-click="ctrl.revokeAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'READ')">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                                <button
                                    title="Grant Write Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-if="!user.writeAccessByEnvironment[ctrl.selectedEnvironment]"
                                    ng-click="ctrl.grantAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'WRITE')">
                                    <i class="fa fa-file-signature"></i>
                                </button>
                                <button
                                    title="Revoke Write Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-red"
                                    ng-if="user.writeAccessByEnvironment[ctrl.selectedEnvironment]"
                                    ng-click="ctrl.revokeAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'WRITE')">
                                    <i class="fa fa-file-contract"></i>
                                </button>
                            </td>
                            <td data-title="Actions" data-label="Actions" class="text-left" ng-if="ctrl.selectedApplication">
                                <button
                                    title="Grant Read Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-if="!user.accessLevels[ctrl.selectedEnvironment][ctrl.selectedApplication].READ"
                                    ng-click="ctrl.grantAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'READ')">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button
                                    title="Revoke Read Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-red"
                                    ng-if="user.accessLevels[ctrl.selectedEnvironment][ctrl.selectedApplication].READ"
                                    ng-click="ctrl.revokeAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'READ')">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                                <button
                                    title="Grant Write Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-blue"
                                    ng-if="!user.accessLevels[ctrl.selectedEnvironment][ctrl.selectedApplication].WRITE"
                                    ng-click="ctrl.grantAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'WRITE')">
                                    <i class="fa fa-file-signature"></i>
                                </button>
                                <button
                                    title="Revoke Write Access"
                                    data-placement="top"
                                    data-toggle="tooltip"
                                    class="btn bg-red"
                                    ng-if="user.accessLevels[ctrl.selectedEnvironment][ctrl.selectedApplication].WRITE"
                                    ng-click="ctrl.revokeAccess(user.id, ctrl.selectedEnvironment, ctrl.selectedApplication, 'WRITE')">
                                    <i class="fa fa-file-contract"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
