
<p>
    Hello {{ email }}, <br/>
    <br/>
   <p> {{ inviter }} invited you to collaborate on {{application}} on LeadWire APM. </p>
   <p> To accept the invitation, please <a href="{{ link }}">Confirm</a>.</p>

    <p>best regards,<br/>
    LeadWire</p>
</p>
