
<p>
    Hello {{ email }}, <br/>
    <br/>
   <p> You just receved an invitation to Leadwire from {{ user.username }}. Please click in this <a href="{{ link }}#/login?invitation={{ invitation }}">link</a> to accept the invitation. <p>

    <p>best regards,<br/>
    LeadWire</p>
</p>
